.deps
Makefile
Makefile.in
XConsole
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
xconsole
xconsole.1
